<div class="product-detail">
  <!--<img src="http://localhost:8000{{ product.image }}">-->
  <!--<h1>{{ product.name }}</h1>-->
  <p class="price">${{ product.price }}</p>
  <form #form="ngForm" (submit)="submitProduct(quantity)">
    <label for="id_quantity">Quantity:</label>
    <select name="quantity" ngModel="quantity" id="id_quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
    </select><input type="hidden" name="update" value="False" id="id_update">
    <input type="submit" ngClick="submitProduct(quantity)" value="Add to cart">
  </form>
  {{ product.description }}
</div>
